{% extends "base-js.html.twig" %}

{% block title %}
	Capsule - Profil
{% endblock %}

{% block body %}

	<div class="container" style="margin-bottom: 30px">
		<h1 style="margin: 25px 0">{{user.title}}
			{{ user.firstName}}
			{{ user.name}}</h1>


		<div class="row" style="padding: 15px 0">
			<button class="btn btn-dark" style="width: 200px; margin: auto; background: white; color: black; border: 1px solid rgb(127,217,208)" onclick="reveal('infos')">Infos</button>
			<button class="btn btn-dark" style="width: 200px; margin: auto; background: white; color: black; border: 1px solid rgb(127,217,208)" onclick="reveal('interest')">Centres d'intérêts</button>
			<button class="btn btn-dark" style="width: 200px; margin: auto; background: white; color: black; border: 1px solid rgb(127,217,208)" onclick="reveal('family')">Famille</button>
			<button class="btn btn-dark" style="width: 200px; margin: auto; background: white; color: black; border: 1px solid rgb(127,217,208)" onclick="reveal('payments')">Paiements</button>
		</div>
		<div class="row" id="infos" style"display: block; margin: 15px 0">
			<div class="row">
				<div class="col-3">
					<p><img src="/{{user.profilePic}}" alt="Photo de profil" style="height: 20vw; max-height: 200px; width: auto"></p>
				</div>
				<div class="col">
					<table class="profile">
						<tr>
							<td class="label">Adresse&nbsp;:</td>
							<td class="value">{{user.street1}}<br>
								{{user.street2}}<br>
								{{user.postcode}}
								{{user.city}}<br>
								{{user.country}}</td>
						</tr>
						<tr>
							<td class="label">Email&nbsp;:</td>
							<td class="value">{{ user.email }}</td>
						</tr>
						<tr>
							<td class="label">Bureau&nbsp;:</td>
							<td class="value">{{ user.phoneOffice }}</td>
						</tr>
						<tr>
							<td class="label">Portable&nbsp;:</td>
							<td class="value">{{ user.phoneOffice }}</td>
						</tr>
						<tr>
							<td class="label">Compte&nbsp;:</td>
							<td class="value">{{user.role}}</td>
						</tr>
						<tr>
							<td class="label">Date&nbsp;de&nbsp;naissance&nbsp;:</td>
							<td class="value">
								{% if user.birthDate %}
									{{user.birthDate|date("d/m/Y")}}
								{% endif %}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row" id="interest" style="display: none; margin: 15px 0">Interest</div>
		<div class="row" id="family" style="display: none; margin: 15px 0">family</div>
		<div class="row" id="payments" style="display: none; margin: 15px 0">Paiements</div>
	</div>
{% endblock %}
{% block script %}
	<script>
		function reveal(div) {
let d1 = document.getElementById("infos");
let d2 = document.getElementById("interest");
let d3 = document.getElementById("family");
let d4 = document.getElementById("payments");
d1.style.display = "none";
d2.style.display = "none";
d3.style.display = "none";
d4.style.display = "none";
let d = document.getElementById(div);
d.style.display = "block";
}
	</script>
{% endblock %}
{% block admin %}
	<div style="margin-top: 50px">{{dump(user)}}</div>
{% endblock %}
