{% extends "admin/navbar.html.twig" %}

{% block title %}
	Agenda
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row align-items-center">
			<div class="col-1">
				<form action="" method="post">
					<input type="hidden" name="month" value={{before.button}}>
					<input type="submit" value="{{before.text}}">
				</form>
			</div>
			<div class="col">
				<h1>Agenda
					<div class="dropdown">
						<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Nouveau
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newMeeting">Rendez-vous</a>
							</li>
							<li>
								<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newTask">Tâche</a>
							</li>
						</ul>
					</div>
				</h1>
			</div>
			<div class="col-1">
				<form action="" method="post">
					<input type="hidden" name="month" value={{after.button}}>
					<input type="submit" value="{{after.text}}">
				</form>
			</div>
		</div>
	</div>

	{# Main #}

	<div class="row row-cols-1 row-cols-md-6 g-4" style="padding: 0 1vw">
		{% for week in days %}
			{% for day in week %}
				<div class="col">
					<div class="card text-bg-dark mb-3 h-100">
						<div class="card-header">
							<h6>{{ day.day }}</h6>
						</div>
						<div class="card-body" style="height: 15vh; overflow-y: auto">
							{% if day.meetings %}
								{% for meeting in day.meetings %}
									<table style="width: 100%">
										<tr>
											<td style="text-align: left">
												<a href="/admin/meeting/{{ meeting.id }}" style="color: white; font-size: 0.9em">
													{{meeting.datemeeting|format_time(pattern="HH:mm")}}
													:
													{{meeting.title}}
												</a>
											</td>
											<td style="width: 25px">
												<form action="/admin/visio2" method="post" target="_blank">
													<input type="hidden" name="meeting" value="{{meeting.id}}">
													<input type="submit" value="&#x1F3A5;" class="btn btn-light btn-sm" style="padding: 0 2px 2px 2px">
												</form>
											</td>
										</tr>
									</table>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>


	{# Modal Meeting #}
	<div class="modal fade" id="newMeeting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="border: 2px solid white; border-radius: 10px">
			<div class="modal-content">
				<div class="modal-header" style="background: black">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau rendez-vous</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: white">X</button>
				</div>
				<div class="modal-body" style="background: black">
					<form action="/admin/agenda/addMeeting" method="post">
						<p><input type="text" name="title" placeholder="titre *" required>
						</p>
						<p><input type="datetime-local" name="date_meeting" required><br></p>
						<p>
							<select multiple class="form-control" size="4" name="guest[]">
								{% for guest in guests %}
									<option value={{guest.id}}>{{guest.firstName}}
										{{guest.name}}</option>
								{% endfor %}
							</select>
						</p>
						<p>
							<textarea name="content" cols="38" rows="5"></textarea>
						</p>
						<p>Visio
							<input type="checkbox" name="visio">
						</p>
					</div>
					<div class="modal-footer" style="background: black">
						<input class="btn btn-primary" type="submit" value="Enregistrer"></form>
				</div>
			</div>
		</div>
	</div>{# Modal task #}<div class="modal fade" id="newTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="border: 2px solid white; border-radius: 10px">
			<div class="modal-content">
				<div class="modal-header" style="background: black">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Nouvelle tâche</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: white">X</button>
				</div>
				<div class="modal-body" style="background: black">
					<form action="/admin/agenda/addTask" method="post">
						<p><input type="text" name="title" placeholder="titre *" required>
						</p>
						<p><input type="date" name="due_date" required><br></p>
						<p>
							<textarea name="content" cols="38" rows="5"></textarea>
						</p>
					</div>
					<div class="modal-footer" style="background: black">
						<input class="btn btn-primary" type="submit" value="Enregistrer"></form>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
