{% extends "admin/navbar.html.twig" %}

{% block body %}

	<h4>Mon profil</h4>

	<div class="container text-center">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col-3 h-100 profilAdmin">
				<img src="/{{ user.profilePic }}" alt="Photo de profil" style="max-width: 150px; height: auto">
			</div>
			<div class="col align-self-center profilAdmin" style="height: 150px; padding: 15px 0">
				<h1>{{ user.firstName}}
					{{ user.name}}</h1>
				{{ user.email }}<br>
				{{ user.phoneMobile}}
			</div>
			<div class="col h-100 profilAdmin">
				{{ user.street1 }}<br>
				{{ user.street2}}<br>
				{{ user.postcode }}
				{{ user.city }}
			</div>
		</div>
	</div>
	<div class="container text-center">Div 2 update (caché)
		<form action="" method="post" enctype="multipart/form-data">
			<input type="hidden" name="MAX_FILE_SIZE" value="1100000"/>
			<input type="file" name="pic" accept="image/png, image/jpg, image/jpeg, image/gif, image/svg">
			<input type="submit" value="Sauvegarder">
		</form>
	</div>
	<div
		class="supera">
		{# {{ dump(user) }} #}
		{{ (user.role == 'SuperAdmin') ? dump(user) }}

	</div>

{% endblock %}
