{% extends "/landing/navbar.html.twig" %}
{% block title %}
	Capsule -
	{{profile.firstName}}
	{{profile.name}}
{% endblock %}
{% block body %}

	<div class="container text-align">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="row">
					<div class="col" style="max-width: 174px">
						{% if profile.profilePic %}
							<img src={{profile.profilePic}} class="" alt="Portrait 1" style="border-radius: 50%; height: 150px; width:150px;">
						{% else %}
							<div style="background: white; padding-top: 50px; border-radius: 50%; border: 15px solid white; height: 200px; width:200px;">
								<h1>{{profile.firstName|slice(0, 1)}}{{profile.name|slice(0, 1)}}</h1>
							</div>
						{% endif %}
					</div>
					<div class="col align-self-center" style="text-align: left">
						<h3>{{profile.firstName}}
							{{profile.name}}</h3>
						Spécialité
					</div>
				</div>
				<div class="row row-cols-1 g-2" style="margin-top: 5px">
					<div class="col" style="padding-left: 10px; text-align: left; background-color: lightgrey; border-radius: 20px">
						<p>
							<h5>Ville</h5>
							{{profile.city}}
							({{profile.postcode}})
							<a href="https:///www.google.com/maps/place/{{profile.postcode}}+{{profile.city|replace({" ":" +"})}}" target="_blank" rel="noopener noreferrer"><img src="/images/maps.png" alt="Maps" style="vertical-align: top"></a>
						</p>
					</div>
					<div class="col" style="padding-left: 10px; text-align: left; border: 1px solid lightgrey; border-radius: 20px">
						<p>
							<h5>Spécialités</h5>
							<ul>
								{% for spec in speciality %}
									<li>{{spec}}</li>
								{% endfor %}
							</ul>
						</p>
					</ul>
				</p>

			</div>
			<div class="col" style="padding-left: 10px; text-align: left; background-color: rgba(48,180,167,0.5); border-radius: 20px ">
				<p>
					<h5>Tarifs</h5>
					Conventionné ou non
					<br>Prix pratiqués</p>
			</div>
			<div class="col" style="border-radius: 20px; border : 1px solid rgba(48,180,167,0.5); padding: 10px ">{{profile.bio|nl2br}}</div>
		</div>
	</div>
	<div class="col" style="border-radius: 20px; border : 1px solid rgba(48,180,167,0.5) ">
		<p>
			<h5>Prendre rendez-vous</h5>
			<div class="row row-cols-6">
				{% for date in dates %}
					<div class="col">
						<div class="row">
							<p class="text-center">{{date|date("d.m.Y")}}</p>
						</div>
						{% for j in 9..20 %}
							<div class="row">
								<p class="text-center">
									<button class="btn btn-outline-primary" disabled>{{j}}:00
									</button>
								</p>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</p>
	</div>
</div>
{% if user.role == 'SuperAdmin' %}
	{{dump(dates)}}
	<p>{{dump(profile)}}
	{% endif %}
{% endblock %}
